.pengu-bg-info{
    background-color: #FFFBF0;
 ;
}
.panda-bg-warning{
    background-color: #ffa500;
}
.panda-bg-success{
    background-color: #da70d6;
}
.panda-bg-danger{
    background-color: #0000ff;
}
.catagories img{
height: 100px;
}
.panda-btn-buy{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.banner-img img{
    width: 350px;
    border-radius: 10px;
}
.card img{
    height: 355px;
    width: 330px;
}
.shop-image img{
    width: 95%;
   
   
}
.service-image img{
    height: 82px;
    width: 78px;
}